<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="static/assets/css/4-Column-Team-Members.css">
    <link rel="stylesheet" href="static/assets/css/Bootstrap-Chat.css">
    <link rel="stylesheet" href="static/assets/css/Carousel_Image_Slider-1.css">
    <link rel="stylesheet" href="static/assets/css/Carousel_Image_Slider.css">
    <link rel="stylesheet" href="static/assets/css/DA_Whatsapp.css">
    <link rel="stylesheet" href="static/assets/css/Footer-with-social-media-icons.css">
    <link rel="stylesheet" href="static/assets/css/Google-Style-Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/MUSA_carousel-product-cart-slider-1.css">
    <link rel="stylesheet" href="static/assets/css/MUSA_carousel-product-cart-slider.css">
    <link rel="stylesheet" href="static/assets/css/Sidebar-1.css">
    <link rel="stylesheet" href="static/assets/css/Sidebar.css">
    <link rel="stylesheet" href="static/assets/css/smoothproducts.css">
    <link rel="stylesheet" href="static/assets/css/Team.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#"><img src="static/assets/img/ABlogo%20-%20copia.jpg"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="font-size: 10px;width: 944px;">
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="index.html">Inicio</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="novedades.html">Novedades</a></li>
                    <li class="nav-item dropdown show" data-bs-hover-animate="pulse"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="true" data-bs-hover-animate="pulse" href="#">Categorias</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="madera.html">Madera</a><a class="dropdown-item" role="presentation" href="arcilla.html">Arcilla</a><a class="dropdown-item" role="presentation" href="tejido.html">Tejido</a>
                            <a
                                class="dropdown-item" role="presentation" href="Pintura.html">Pintura</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="pricing.html">Promociones</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="sobrenosotros.html">Sobre nostros</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="contactanos.html">Contáctanos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="pulse" href="ingreso.html">Ingreso</a></li>
                </ul>
        </div>
        <form class="form-inline">
            <div class="input-group">
                <div class="input-group-prepend"></div><input class="form-control" type="text" placeholder="Buscar" style="width: 125px;">
                <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button></div>
            </div>
        </form><a class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="_blank" style="background-color: #3b99e0;" href="Chat.html"><i class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center"></i></a></div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading"></div>
            </div>
            <div class="row">
                <div class="col-xl-3"><div id="sidebar-main" class="sidebar sidebar-default sidebar-separate">
    <div class="sidebar-category sidebar-default">
        <div class="category-title">
            <span>Mi Cuenta</span>
        </div>
        <div class="category-content">
            <ul id="fruits-nav" class="nav flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Compras
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Facturacion
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#other-fruits" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="other-fruits">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Configuracion
                    </a>
                    <ul id="other-fruits" class="flex-column collapse">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Usario
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Privacidad
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div></div>
                <div class="col">
                    <div>
                        <h3>Tus Compras</h3>
                        <p>Aún no tienes compras</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Comienzo</h5>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Registrarse</a></li>
                        <li><a href="#">Descargas</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Sobre Nosotros</h5>
                    <ul>
                        <li><a href="#">Información&nbsp;</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="#">Opiniones</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Suporte</h5>
                    <ul>
                        <li><a href="#">Preguntas</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Foros</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terminos de Servicio</a></li>
                        <li><a href="#">Terminos de Uso</a></li>
                        <li><a href="#">Politica de Privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row"></div>
            <p>© 2020 Artesanias Braeska</p>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>
